# Data Science Tools and Ecosystem

### In this notebook we get a summerized view on the topic "Data Science Tools and Ecosystem".

**Objectives:**

+ List popular languages for Data Science 
+ List commonly used libraries for Data Science 
- Create a table on Data Science Tools 
- Write some examples of evaluating arithematic expression in Python

*Some of the most popular languages Data Scientist use are :*

1. Python
2. R
3. SQL
4. Java
5. C+++

_Some of the libraries commonly used by Data Scientist include :_

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. Apache Spark

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Jupyter Lab|
|RStudio|

### Below are some examples of evaluating arithematic expression in Python

In [4]:
#This is a simple arithematic expression to multiply then add integers

(3*4)+5

17

In [5]:
#This will convert 200 minutes into hours by dividing by 60 

200/60

3.3333333333333335

## Author
Athira.M